*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-image: url(image/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    

}
nav{
    padding:16px 5%;
    border-bottom:1px solid rgba(65,37,103,1);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    color: white;
}
nav>p{
    font-size: 40px;
    background:rgba(145, 0, 248, 1);
    width: 219px;
    height: 32px;
}
nav>div{
    width: 218px;
    height: 19px ;
    display: flex;
    gap: 32px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

}
.su-btn{
    gap: 4px;
    padding: 12px 16px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;

}
nav>span{
    margin-right: 5px;
}
.hero-container{
    align-items: center;
    min-height: 80vh;
   /* margin-top: 10px;*/
    width: 350px;
    height:350px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    
}

















 











@media screen and(max-width:425px) {
    .menu-container{
        display: none;
    }
    
}